version: "3.7"

volumes:
  ystore: {}

services:
  ydaemon-dev:
    build: .
    image: ghcr.io/mariuspod/ydaemon
    ports:
      - 127.0.0.1:8081:8080
    volumes:
      - ystore:/app/ystore
    environment:
      - RPC_URI_FOR_1
      - RPC_URI_FOR_10
      - RPC_URI_FOR_250
      - RPC_URI_FOR_42161
      - WEBHOOK_SECRET
      - GRAPH_API_URI
      - SERVER_NAME
      - SENTRY_DSN
      - SENTRY_SAMPLE_RATE
      - LOG_LEVEL
    restart: always
