name: notify telegram

on:
  pull_request:
    types: [opened, reopened, review_requested, closed]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Telegram Message
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.WEBOPS_TG_TOKEN }}
          CHAT_ID: ${{ secrets.WEBOPS_TG_CHAT_ID }}
          TOPIC_ID: ${{ secrets.WEBOPS_TG_PR_MESSAGE_THREAD_ID }}
        run: |
          PR_TITLE="${{ github.event.pull_request.title }}"
          PR_URL="${{ github.event.pull_request.html_url }}"
          PR_STATE="${{ github.event.pull_request.state }}"
          PR_USER="${{ github.event.pull_request.user.login }}"
          PR_NUMBER="${{ github.event.pull_request.number }}"
          REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2)

          MESSAGE=$(printf '*%s PR %s %s*\n[%s](%s)\nby *%s*' "$REPO_NAME" "$PR_NUMBER" "${PR_STATE^}" "$PR_TITLE" "$PR_URL" "$PR_USER")

          curl -s -X POST "https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage" \
            -d chat_id="${CHAT_ID}" \
            -d message_thread_id="${TOPIC_ID}" \
            -d text="${MESSAGE}" \
            -d parse_mode="Markdown"
